stages:
 - lint
 - test 
 - build

lint:
  stage: lint
  image: golangci/golangci-lint:v2.6.2-alpine
  script: 
    - golangci-lint run -v --timeout 2m
  allow_failure: false 
  timeout: 2m

test: 
  stage: test
  image: golang:1.25-alpine
  before_script:
    - apk add --no-cache git make gcc musl-dev
  script:
    - go mod download
    - go test -v -race ./... 
  artifacts:
    expire_in: 7 days

build:docker:
  image: 
    name: gcr.io/kaniko-project/executor:v1.24.0-debug
    entrypoint: [""]
  before_script: 
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(printf "%s:%s" "{CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > kaniko/.docker/config.json
  script:
      - /kaniko/executor --context "{CI_PROJECT_DIR}" --dockerfile "${CI_PROJECT_DIR}/Dockerfile" --target orderservice --destination "${CI_REGISTRY_IMAGE}/app:${CI_COMMIT_SHORT_SHA}" --destination "${CI_REGISTRY_IMAGE}/app:latest"
